<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
	
		<!--Header-->
	<% if (locals.usuario != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else {%>
		<%- include('./partials/headerDeslogueado') %>
	<% } %> 
	<!--Header-->
	
	<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"><%= producto.nombre %></h2> 
				<p class="product-detail-description">
				<% if (locals.usuario != undefined && locals.usuario == producto.usuario_id) { %>
					<a href="/product/edit/id/<%= producto.id %>">Editar</a>
					
					<a href="/borrar/<%= producto.id %>">Borrar Producto</a>
				<% } %>
				</p>
			</div>

			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src= "/images/products/<%= producto.imagen %>"  alt="<%= producto.nombre %>" class="product-detail-img"> <!-- CAMBIAR LINK DESPUES!!-->
						<p class="product-detail-description"> <%= producto.descripcion %>. Cargado el día: <%= producto.created_at %> por el usuario  </a></p>
					</article>
					<!--Comentarios-->
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < data.length; i++ ) { %>
							<article>
								<img src="<%= data[i].usuarios.foto_de_perfil %>" alt="Foto de perfil">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile/id/"><%= data[i].usuarios.id %></strong></a> 
										<%= data[i].texto %> 
									</p>
								</div>
							</article>  
						<% } %>
					</section>
					<% if (locals.usuario != undefined) { %>
						<form class="form" action="/product/id/:id/comentario" method="post">
						<input class="form-input" type="text" name= "texto" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					<% } else {%>
						<form class="form" action="/login" method="get">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					<% } %> 
					
	
	
				</div>
			</div>
		</div>

	<!-- /product detail -->

	<!-- Footer -->
	<%- include('./partials/footer') %> 
	<!-- Footer -->
	
</body>	
</html>