<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
		<!--Header-->
	<% if (locals.usuario != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else {%>
		<%- include('./partials/headerDeslogueado') %>
	<% } %> 
	<!--Header-->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src=" <%= usuario.foto_de_perfil %> " alt="<%= usuario.nombre %> <%= usuario.apellido %> " class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.nombre %> 
						<a href="/profile/edit/id/ <%= usuario.id %> ">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>

				<h3> <%= usuario.email %> </h3>

				<div>
					<ul class="">
						<li>8 productos</li>  <!-- cantidad -->
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% for(let i = 0; i < 8; i++){ %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%= usuarios[i].productos.id %>"> 
						<figure class="product-box_image">
							<img src="<%= usuarios[i].productos.imagen %> " alt="<% usuarios[i].productos.nombre%> ">
						</figure>
						<article class="product-box_data">
							<h2><%= usuarios[i].productos.nombre %> </h2>
							<p><%= usuarios[i].productos.descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<% } %> 
		</div>
	</div>
			
			
	<!-- /Mis productos -->

	<!-- Footer -->
	<%- include('./partials/footer') %> 
	<!-- Footer -->
	
</body>	
</html>

