<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
		<!--Header-->
	<% if (locals.usuario != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else {%>
		<%- include('./partials/headerDeslogueado') %>
	<% } %> 
	<!--Header-->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="post" action="/profile/edit/id/<%= usuario.id %>" class="form-register-container" enctype="multipart/form-data">
					<input type="email" name="email" class="form-register" placeholder="Ingrese su email">
					<input type="text" name="nombre" class="form-register" placeholder="Nombre">
					<input type="text" name="apellido" class="form-register" placeholder="Apellido">
					<input type="text" class="form-register" name="contraseña" placeholder="Contraseña">
					<input type="date" class="form-register" name="fecha_de_nacimiento">
					<input type="number" class="form-register" name="documento" placeholder="Número de documento">
					<input type="file" class="form-register" name="foto_de_perfil">
					<input type="submit"  name="" class="form-register-submit">
				</form>
			</h2>

	<!-- Footer -->		
	<%- include('./partials/footer') %> 
	<!-- Footer -->
	
</body>

</html>

