<!-- Head -->
<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerNormal') %> 
	<!-- /Header -->

	<!-- Resultados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda para: Alfajores</h2>
			</div>
			<!-- Show the "ultimos" products -->
		</div>
	</div>

	<% for( let i = 0; i < productos.length; i++ ) { %>

		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
					<a href="/product/id/<%= productos[i].id%>">
						<figure class="product-box_image">
							<img src="<%= productos[i].imagen %> " alt="<% productos[i].nombreProducto %> ">
						</figure>
						<article class="product-box_data">
							<h2><%= productos[i].nombreProducto %> </h2>
							<p><%= productos[i].descripcion %></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
			</section>
		</div>
		<% } %>

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>